<%- include("header") -%>
<h1>Hi how are you</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quos ex odio
  iusto a fugit saepe ratione et autem ea blanditiis fuga! Ipsam, ut. Nesciunt
  in sed facere cumque nihil.
</p>

<%- include("footer") -%>
